@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1e3a8a;
  --color-secondary: #1e40af;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #3b82f6;
  --color-secondary: #1e40af;
  --color-base-100: #1f2937;
  --color-base-200: #111827;
  --color-base-content: #f9fafb;
}

